.mail-filter {
  position: absolute;
  top: 8px;
  left: 170px;
  z-index: 10;
}

@media (min-width: 610px) {
  .mail-filter {
    left: 190px;
  }
}

@media (min-width: 900px) {
  .mail-filter {
    left: 256px;
  }
}

.mail-filter i {
  position: absolute;
  padding-top: 14px;
  padding-left: 10px;
  color: fff;
  min-width: 30px;
  text-align: center;
  font-size: 1.3em;
  border: 0;
  color: #969696;
}

.mail-filter input {
  background-color: #474747;
  color: #fff;
  border: 0;
  height: 46px;
  min-width: 120px;
  padding-left: 50px;
  border-radius: 8px;
}

@media (min-width: 610px) {
  .mail-filter input {
    min-width: 250px;
  }
}

@media (min-width: 900px) {
  .mail-filter input {
    min-width: 350px;
  }
}

.mail-filter input::placeholder {
  color: #fff;
}

.mail-filter input:focus::placeholder {
  color: #696969;
}

.mail-filter input:focus {
  outline: none;
  background-color: #fff;
  color: #696969;
  transition: 0.2s;
}
