.mail-list {
  position: relative;
  top: 50px;
  left: 256px;
  width: calc(100% - 256px);
}

.mail-item {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  text-align: left;
  border-bottom: 1px solid #969696;
}

.mail-item .full-name {
  min-width: 180px;
}

.mail-item:first-child {
  border-top: 1px solid #969696;
}

.mail-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 12px -3px #fefff5;
  z-index: 10;
}

.mail-item .star {
  padding: 5px;
  color: #969696;
}

.mail-item .star:hover {
  background-color: rgb(107, 107, 107);
  border-radius: 50%;
  text-shadow: 0px 0px 20px #888484;
  transition: 0.3s;
}
.mail-item .stared:hover {
  background-color: rgb(107, 107, 107);
  border-radius: 50%;
  text-shadow: 0px 0px 20px #888484;
}

.mail-item .subject {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.mail-item .body {
  display: flex;
  overflow: hidden;
  color: #969696;
  white-space: nowrap;
  flex: 1;
}

.mail-item span {
  margin-right: 15px;
}

.mail-item .delete {
  color: #969696;
  cursor: pointer;
}

.mail-item .delete:hover {
  color: aliceblue;
  text-shadow: 0px 0px 10px #cec9c9;
}

.mail-item .envelop {
  color: #969696;
  cursor: pointer;
}

.mail-item .envelop:hover {
  color: aliceblue;
  text-shadow: 0px 0px 10px #cec9c9;
}

.stared {
  padding: 5px;
  color: gold;
}

.read {
  font-family: product-sans-regular;
  color: #969696;
  background-color: #161616;
}

.mail-item .details {
  min-width: 170px;
  text-align: end;
}
