.mail-filter {
  position: absolute;
  top: 8px;
}

.mail-filter i {
  position: absolute;
  padding-top: 14px;
  padding-left: 10px;
  color: rgb(25, 124, 25);
  min-width: 30px;
  text-align: center;
  font-size: 1.3em;
  border: 0;
}

.mail-filter i:hover {
  /* background-color: rgb(139, 139, 139);
  border-radius: 50%; */
}

.mail-filter input {
  border: 0;
  height: 46px;
  width: 90%;
  /* padding: 10px; */
  padding-left: 50px;
  border-radius: 8px;
}
