.book-preview {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;

  transition: transform 0.3s;
}

.book-preview:hover {
  transform: scale(1.2);
}

.book-preview h4 {
  font-size: 1.25rem;
}

.book-preview img {
  width: 200px;
  height: 300px;
  cursor: pointer;
}
