.review-add form {
  margin: 3rem;
}

.review-add label {
  margin-top: 1rem;
}

.review-add input {
  border-radius: 2px;
  border: none;
  padding: 0.5rem;
}

.review-add input:focus {
  outline: none;
}

.review-add textarea {
  width: 20rem;
  height: 10rem;
  border-radius: 5px;
  border: none;
  resize: both;
  padding: 0.5rem;
}

.review-add textarea:focus {
  outline: none;
}

.review-add form #rate {
  border: none;
  outline: none;
  margin-top: 0.2rem;
}

.review-add form #rate:focus {
  outline: none;
  border: none;
}

.review-add form button {
  color: #3d3d3d;
  background-image: linear-gradient(to bottom, #ffffff, #c9c9c9);
  border: none;
  border-radius: 0 0 5px 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.review-add form button:hover {
  background-image: linear-gradient(to bottom, #ffffff, #adadad);
  text-decoration: none;
}
