.about {
  margin-top: 1rem;
  animation: fadeIn;
  animation-duration: 1s;
}

.about-us {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.newsletter {
  display: grid;
  justify-items: center;
}

.newsletter-form input {
  display: block;
  margin: 1em;
}
