.home {
    margin-top: 1em;
}

.home img {
    width: 20em;
    animation: fadeInDown;
    animation-duration: 0.7s;
}

.home h2 {
    animation: fadeInDown;
    animation-duration: 0.7s;
}

.home h3 {
    color: rgb(150, 150, 150);
    margin: 0.7em;
}

.home-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 1.8em;
}

.home-apps article {
    padding: 1em;
    cursor: pointer;
    transition: transform 0.2s;
}

.home-apps article:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.home-apps img {
    width: 5rem;
}

.home-notes {
    animation: fadeInLeft;
    animation-duration: 0.7s;
}

.home-email {
    animation: zoomIn;
    animation-duration: 0.7s;
}

.home-books {
    animation: fadeInRight;
    animation-duration: 0.7s;
}


/* medium */ 
@media (min-width: 420px) {
    .home-apps {
        flex-direction: row;
        margin-top: 5em;
        gap: 2em;
    }

    .home-apps img {
        width: 15vw;
    }
  }

/* large */
@media (min-width: 770px) {
    .home-apps {
        gap: 9em;
    }
}