@font-face {
  font-family: product-sans-regular;
  src: url(../../fonts/Product-Sans/Product-Sans-Regular.ttf);
}

@font-face {
  font-family: product-sans-bold;
  src: url(../../fonts/Product-Sans/Product-Sans-Bold.ttf);
}
