.note-filter {
  position: absolute;
  top: 0.5em;

  animation: zoomIn;
  animation-duration: 1s;
}

.note-filter input {
  border: 0;
  height: 46px;
  width: 30em;
  padding-left: 50px;
  border-radius: 8px;
  background-color: #474747;
  font-size: 1.2em;
  color: #fff;
}

.note-filter input:focus {
  outline: none;
  background-color: #fff;
  color: rgb(77, 77, 77);
}

.note-filter input::placeholder {
  color: #f0f0f0cc;
  font-size: 1em;
}

.note-filter i {
  position: absolute;
  padding-top: 14px;
  padding-left: 10px;
  color: rgba(130, 130, 130, 0.5);
  min-width: 30px;
  text-align: center;
  font-size: 1.3em;
  border: 0;
}
