.note-filter {
  position: absolute;
  top: 5em;
  z-index: 10;

  animation: zoomIn;
  animation-duration: 0.5s;
}

.note-filter input {
  border: 0;
  height: 46px;
  width: 15rem;
  padding-left: 50px;
  border-radius: 8px;
  background-color: #474747;
  font-size: 1.2em;
  color: #fff;
}

.note-filter input:focus {
  outline: none;
  background-color: #fff;
  color: rgb(77, 77, 77);
}

.note-filter input::placeholder {
  color: #f0f0f0cc;
  font-size: 1em;
}

.note-filter i {
  position: absolute;
  padding-top: 14px;
  padding-left: 10px;
  color: rgba(130, 130, 130, 0.5);
  min-width: 30px;
  text-align: center;
  font-size: 1.3em;
  border: 0;
}

/* medium */
@media (min-width: 420px) {

  .note-filter {
    position: relative;
    top: -3.5em;
    left: 3rem;
  }

  .note-filter input {
    width: 42vw;
  }
}

/* large */
@media (min-width: 770px) {
  .note-filter {
    position: absolute;
    top: 0.5em;
    left: 50%;
    transform: translateX(-50%);
  }

  .note-filter input {
    width: 42vw;
  }
}