body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  background-color: var(--main-bg-color);
  background-image: url('../../img/wood.png');
  color: var(--color1);
  font-weight: normal;
  font-family: product-sans-regular;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button:hover {
  cursor: pointer;
}

textarea {
  font-family: product-sans-regular;
  overflow: hidden;
  resize: none;
  outline: none;
}

input {
  font-family: product-sans-regular;
}
