header {
  background: var(--secondary-bg-color);
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
}

.app-header a {
  height: 48px;
}

.app-header nav > *:not(:last-child) {
  margin-inline-end: 30px;
}

nav a {
  margin: 0.5em;
}

nav a.active {
  font-family: product-sans-bold;
}

a:hover {
  text-decoration: underline;
}
